<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>华为商城（VMALL.COM）_详细信息</title>
    <link rel="stylesheet" href="../css/all.css">
    <script src="../lib/require.js" data-main="../js/detail.js"></script>
    <script>
    requirejs.config({
        paths : {
                "jquery" : "../lib/jquery-3.4.1.min"
        }
    })
    </script>
</head>
<body style="margin: 0;overflow: hidden;">
    @include('head.html')
    <div id="detail" class="container clearfix">
    </div>
    @include('foot.html')
</body>
</html>